/* note- if adding a style, style MUST contain this:
width:100%;
    min-width:1000px;
    height:auto; */
.dark-background {
  background-color: black;
  overflow: hidden;
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.header {
  overflow: hidden;
  text-align: center;
  font-family: Arial;
  font-size: 50px;
  color: white;
  margin: 0 auto;
}
.center-screen {
  overflow: hidden;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
.fade-in-text {
  margin: 0 auto;
  text-align: center;
  font-family: Arial;
  font-size: 10px;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}