/* note- if adding a style, style MUST contain this:
width:100%;
    min-width:1000px;
    height:auto; */
.dark-background {
  background-color: black;
  overflow: hidden;
  width:100vw;
  min-height: 350px;
  max-height: 500px;
  min-width: 350px;
  max-width: 850px;
  height:100vw;
  min-width:1000px;
  height:auto;
}
.header {
  width:100vw;
  overflow: hidden;
  height:100vw;
  min-height: 350px;
  max-height: 500px;
  min-width: 350px;
  max-width: 850px;
  height:auto;
  text-align: center;
  font-family: Arial;
  font-size: 50px;
  color: white;
}
.center-screen {
  width:100%;
  overflow: hidden;
  height:100%;
  min-height: 350px;
  max-height: 500px;
  min-width: 500px;
  max-width: 850px;
  height:auto;
  text-align: center;
}
.fade-in-text {
  text-align: center;
  font-family: Arial;
  font-size: 10px;
  color: white;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}