/* note- if adding a style, style MUST contain this:
width:100%;
    min-width:1000px;
    height:auto; */
.image {
  font-size: 10px;
  height: 150px;
  width: 225px;
  position: center;
}
.dark-background {
  background-color: black;
  overflow: hidden;
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.header {
  overflow: hidden;
  font-family: Arial;
  font-size: 20px;
  color: white;
  margin: 0 auto;
}
.center-screen {
  overflow: hidden;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
.fade-in-text {
  color: rgb(62, 146, 180);
  margin: 0 auto;
  text-align: center;
  font-family: Arial;
  font-size: 30px;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-out {
  animation: fadeOut ease 8s;
  -webkit-animation: fadeOut ease 8s;
  -moz-animation: fadeOut ease 8s;
  -o-animation: fadeOut ease 8s;
  -ms-animation: fadeOut ease 8s;
  font-size: 30px;
  text-align: center;
  color: rgb(62, 146, 180);
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}
}

.hide {
  display: none;
}

.fade-out-2 { 
  animation: fadeOut2 ease 8s;
  -webkit-animation: fadeOut2 ease 8s;
  -moz-animation: fadeOut2 ease 8s;
  -o-animation: fadeOut2 ease 8s;
  -ms-animation: fadeOut2 ease 8s;
  font-size: 30px;
  text-align: center;
  color: rgb(62, 146, 180);
}

@keyframes fadeOut2 {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut2 {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut2 {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut2 {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut2 {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}
}

.fade-out-3 { 
  animation: fadeOut3 ease 8s;
  -webkit-animation: fadeOut3 ease 8s;
  -moz-animation: fadeOut3 ease 8s;
  -o-animation: fadeOut3 ease 8s;
  -ms-animation: fadeOut3 ease 8s;
  font-size: 30px;
  text-align: center;
  color: rgb(62, 146, 180);
}

@keyframes fadeOut3 {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut3 {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut3 {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut3 {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut3 {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}
}