* {
    box-sizing: border-box;
    background-color: beige;
    /* background-color: beige; */
}
.breakfast {
    background-color: white;
    width: 80%;
    height: auto;
    float: center;
    padding: 15px;
    border: 1px solid dodgerblue;
    text-align: left;
    font-family: sans-serif;
    font-size: 150%;
    color: #C8A2C8;
}
.title {
    float: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    border: 1px solid teal;
    font-family: sans-serif;
    width: 85%;
    height: 90%;
    font-size: 150%;
    color: dodgerblue;
    background-color: white;
}

.foodTitle {
    text-align: left;
    color: #1d6d86;
    font-size: 175%;
    float: left;
}

.menuTitle {
   /* text-align: left; */
    color: #1d6d86;
    /* float: left; */
}

.lunch {
    width: 80%;
    height: auto;
    float: center;
    padding: 15px;
    border: 1px solid #b3a0d6;
    text-align: left;
    font-family: sans-serif;
    font-size: 150%;
    color: #C8A2C8;
    background-color: white;
}

.special {
    width: 75%;
    height: auto;
    float: center;
    padding: 15px;
    border: 1px solid steelblue;
    text-align: left;
    font-family: sans-serif;
    font-size: 150%;
    color: #C8A2C8;
    background-color: white;
}
.whitebackground {
    background-color: transparent;
}