* {
    box-sizing: border-box;
    background-color: beige;
    /* background-color: beige; */
}
.snacks {
    background-color: white;
    width: 80%;
    height: auto;
    float: center;
    padding: 15px;
    border: 1px solid dodgerblue;
    text-align: left;
    font-family: sans-serif;
    font-size: 150%;
    color: #b7ece4;
}
.breakfast {
    background-color: white;
    width: 80%;
    height: auto;
    float: center;
    padding: 15px;
    border: 1px solid dodgerblue;
    text-align: left;
    font-family: sans-serif;
    font-size: 150%;
    color: #3dfe00;
}
.title {
    float: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    border: 1px solid teal;
    font-family: sans-serif;
    width: 85%;
    height: 90%;
    color: dodgerblue;
    background-color: white;

}

.foodTitle {
    text-align: left;
    color: #1d6d86;
    font-size: 175%;
    float: left;
}

.menuTitle {
   /* text-align: left; */
    color: #1d6d86;
    /* float: left; */
}

.lunch {
    width: 80%;
    height: auto;
    float: center;
    padding: 15px;
    border: 1px solid #b3a0d6;
    text-align: left;
    font-family: sans-serif;
    font-size: 150%;
    color: #C8A2C8;
    background-color: white;
}

.special {
    width: 75%;
    height: auto;
    float: center;
    padding: 15px;
    border: 1px solid steelblue;
    text-align: left;
    font-family: sans-serif;
    font-size: 150%;
    color: #C8A2C8;
    background-color: white;
}
.whitebackground {
    background-color: transparent;
}
img {
    width: 30;
    height: auto;
}

.beverages {
    width: 70%;
    height: auto;
    float: center;
    padding: 15px;
    border: 1px solid #27a0dd;
    text-align: left;
    font-family: sans-serif;
    font-size: 150%;
    color: #27a0dd;
    background-color: white;
}

.fade-in-text {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
}


@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.deserts {
    width: 70%;
    height: auto;
    float: center;
    padding: 15px;
    border: 1px solid #d67225;
    text-align: left;
    font-family: sans-serif;
    font-size: 150%;
    color: #d67225;
    background-color: white;
}